<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nspider dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/static/codemirror/css/codemirror.css" rel="stylesheet" type="text/css">
    <link href="/static/codemirror/css/monokai.css" rel="stylesheet" type="text/css">
    <style>
        #debug-container {
            height: 600px;
            background-color: black;
            color: white;
            word-break:break-all;
            overflow: auto;
        }
    </style>
</head>
<body >

    <div class="container-fluid" id="app">
        <div class="row">
            <div class="col-4">
                <a href="/static/index.html">首页</a>
                <span>method: {{currentMethod}}</span>&nbsp;|&nbsp;
                <span>status: {{methodRunStatus}}</span>
            </div>
            <div class="col-8">
                <button class="btn btn-info" @click="save">提交</button>
                <button class="btn btn-info" @click="debug">调试</button>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div id="debug-container">
                    <div v-if="debugResult._result == true">
                        {{debugResult.result}}
                    </div>
                    <ul v-else>
                        <li v-for="result in debugResult.nextResults" style="border-bottom:1px solid #ccc;">
                            {{result.url}}  <button class="btn btn-sm btn-info" @click="debugMethod(result.url, result.method, result.params)">debug</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-8" id="code-container">
                <textarea id="code"></textarea>
            </div>
        </div>    
    </div>


    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/nspider.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <!-- 引入CodeMirror核心文件 -->
    <script type="text/javascript" src="/static/codemirror/js/codemirror.js"></script>

    <!-- CodeMirror支持不同语言，根据需要引入JS文件 -->
    <!-- 因为HTML混合语言依赖Javascript、XML、CSS语言支持，所以都要引入 -->
    <script type="text/javascript" src="/static/codemirror/mode/javascript/javascript.js"></script>
    <script type="text/javascript" src="/static/codemirror/mode/xml/xml.js"></script>
    <script type="text/javascript" src="/static/codemirror/mode/css/css.js"></script>
    <script type="text/javascript" src="/static/codemirror/mode/htmlmixed/htmlmixed.js"></script>

    <!-- 下面分别为显示行数、括号匹配和全屏插件 -->
    <script type="text/javascript" src="/static/codemirror/addon/selection/active-line.js"></script>
    <script type="text/javascript" src="/static/codemirror/addon/edit/matchbrackets.js"></script>
    <script type="text/javascript" src="/static/codemirror/addon/display/fullscreen.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                project: {},
                debugResult:"",
                currentMethod:'',
                methodRunStatus: 'not run'
            },
            methods: {
                getProject: function(projectId) {
                    var _this = this;
                    nspider.getProject(projectId, function(error, result) {
                        if (error) {
                            alert('loading project error, projectId:' + projectId);
                        } else {
                            _this.project = result.data;
                        }
                    })
                },
                run: function() {
                    alert(window.editor.getValue())
                },
                save: function() {
                    var script = window.editor.getValue();
                    if (!script) {
                        alert('script can not be empty');
                        return;
                    }
                    nspider.updateScript(this.project.id, script, function(error, result){
                        if (error) {
                            alert('save failed:' + error.message);
                        } else {
                            alert('save success');
                        }
                    });
                },
                debug: function() {
                    var _this = this;
                    var script = window.editor.getValue();
                    var method = 'start';
                    this.currentMethod = method;
                    this.methodRunStatus = 'running';
                    var url = this.project.startUrl;
                    nspider.projectDebug(this.project.id, script, method, url, undefined, function(error, result) {
                        if (error) {
                            _this.methodRunStatus = 'failed';
                            _this.debugResult = {_result: true, result: error.message};
                        } else {
                            _this.methodRunStatus = 'complete';
                            if (result.data['_result'] === true) {
                                _this.debugResult = {_result: true, result: JSON.stringify(result.data)};
                            } else {
                                _this.debugResult = result.data;
                            }
                        }
                    })
                },
                debugMethod: function(url, method, params) {
                    this.currentMethod = method;
                    this.methodRunStatus = 'running';
                    var _this = this;
                    var script = window.editor.getValue();
                    nspider.projectDebug(this.project.id, script, method, url, params || {}, function(error, result) {
                        if (error) {
                            _this.methodRunStatus = 'failed';
                            _this.debugResult = {_result: true, result: error.message};
                        } else {
                            _this.methodRunStatus = 'complete';
                            if (result.data['_result'] === true) {
                                _this.debugResult = {_result: true, result: JSON.stringify(result.data)};
                            } else {
                                _this.debugResult = result.data;
                            }
                        }
                    })
                }
            },
            created: function() {
                var url = window.location.href;
                var projectId = nspider.getParams(url)['projectId'];
                this.getProject(projectId);
            },
            watch: {
                project: function(project) {
                    window.editor.setValue(project.script);
                }
            }
        })

        initCodeMirror();

        function initCodeMirror() {
            window.editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                lineNumbers: false,     // 显示行数
                indentUnit: 4,         // 缩进单位为4
                styleActiveLine: true, // 当前行背景高亮
                matchBrackets: true,   // 括号匹配
                mode: 'javascript',     // HMTL混合模式
                lineWrapping: true,    // 自动换行
                theme: 'monokai',      // 使用monokai模版
                readOnly: false,
                autofocus: true,
                showCursorWhenSelecting:true,

            });

            window.editor.setSize('100%', 600);
        }
    </script>
</body>
</html>